<canvas id="barchart" style="border: 1px red;"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  var data = {
    labels: {{ values | safe }},
    datasets: [{
      label: "Number of Posts",
      data: {{ counts | safe }},
      backgroundColor: "rgba(255,99,132,0.2)",
      borderColor: "rgba(255,99,132,1)",
      borderWidth: 2,
      hoverBackgroundColor: "rgba(255,99,132,0.4)",
      hoverBorderColor: "rgba(255,99,132,1)"
    }]
  };

  var config = {
    type: 'bar',
    data: data,
    options: {
      maintainAspectRatio: false,
      responsive: true,
      scales: {
        x: {
          title: {
            display: true,
            text: 'Time'
          },
          grid: {
            display: false
          }
        },
        y: {
          title: {
            display: true,
            text: 'Number of Posts'
          },
          beginAtZero: true,
          ticks: {
            stepSize: 100
          },
          grid: {
            display: true,
            color: "rgba(255,99,132,0.2)"
          }
        }
      }
    }
  };

  var ctx = document.getElementById('barchart');
  var myChart = new Chart(ctx, config);
</script>