<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  {% include 'meta.html' %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='data/data.css') }}">
  <title>Data</title>

</head>
<body id="data">

  {% include 'navigation_bar/navbar.html' %}
  <div class="Main-Container">
    <div style="position: relative; height:40vh; width:80vw; margin: auto;">
      {% include 'data/barchart.html' %}
    </div>
    <div class="button-div">
      {% include 'data/barchart_toggle.html' %}
    </div>
    <div class="search-params">
      Total Posts: {{ total }} AND
      <br><br>
      Query: {{ search_query if search_query else 'None' }} AND
      <br><br>
      Category: {% if labels == 1 %}Blinds{% elif labels == 2 %}Reveals{% elif labels == 3 %}All{% else %}Unknown{% endif %}
      <br><br>
      Time Scale: {{ "Month-Years" if toggle else "Years" }}
    </div>
  </div>
</body>
</html>
