<div class="text-block">
    <h3>Caption</h3>
    <p>
        Clarification: The color gradient of the bars represents the gender ratio of the individuals included up to that
        point in the dataset. This means that the color of a bar indicates the proportion of male to female individuals
        present up to the corresponding point on the x-axis.
        <br><br>
        When you hover over a bar, you will see additional details about the cumulative density of posts associated with
        male and female celebrities. The cumulative density represents the proportion of total mentions in the blog that
        have been attributed to celebrities of each gender up to that point in the dataset.
        <br><br>
        In other words, the bar color provides information about the gender distribution of the celebrities, while the
        hover text gives information about the gender distribution of their mentions in the blog.
    </p>
</div>