<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="gender-barchart"></canvas>

<script>
    // Replace the following lines with the actual lists from your data
    var row_numbers = {{ row_numbers | safe }};
    var density = {{ density | safe }};
    var male_running_ratio = {{ male_running_ratio | safe }};
    var female_running_ratio = {{ female_running_ratio | safe }};

    // Filter indices to only keep every 100th data point
    var filteredIndices = row_numbers.map((rn, i) => (i % 100 === 0 ? i : -1)).filter(i => i !== -1);

    // Create filtered data arrays for each attribute using the filtered indices
    var filteredRowNumbers = filteredIndices.map(i => row_numbers[i]);
    var filteredDensity = filteredIndices.map(i => density[i]);
    var filteredMaleRunningRatio = filteredIndices.map(i => male_running_ratio[i]);
    var filteredFemaleRunningRatio = filteredIndices.map(i => female_running_ratio[i]);

    // Calculate the male and female portions of each bar
    var malePortion = filteredMaleRunningRatio.map((ratio, i) => filteredDensity[i] * ratio);
    var femalePortion = filteredFemaleRunningRatio.map((ratio, i) => filteredDensity[i] * ratio);

    // Define the data object
    var data = {
        labels: filteredRowNumbers,
        datasets: [
            {
                label: "Male Cum. Density",
                data: malePortion,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: "rgba(0, 0, 0, 0.1)",
                borderWidth: 1
            },
            {
                label: "Female Cum. Density",
                data: femalePortion,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: "rgba(0, 0, 0, 0.1)",
                borderWidth: 1
            }
        ]
    };

    // Define the options object
    var options = {
        maintainAspectRatio: false,
        responsive: true,
        scales: {
            x: {
                title: {
                    display: true,
                    text: 'Cumulative Number of Celebrities'
                },
              stacked: true
            },
            y: {
                title: {
                    display: true,
                    text: 'Cumulative Density of Posts'
                },
                beginAtZero: true,
                stacked: true
            }
        }
    };

    // Get the context of the canvas element to draw the chart
    var ctx = document.getElementById("gender-barchart");

    // Create the Chart.js histogram object with the filtered data and options
    var histogram = new Chart(ctx, {
        type: "bar",
        data: data,
        options: options
    });
</script>
