<div class="text-block">
    <h3>By The Numbers:</h3>
    <p>
        In order to analyze Enty Lawyer's blogging activities, we utilize a data-driven approach.
        <br><br>
        YouGov Ratings is a project by YouGov that provides nationally representative popularity scores for a multitude
        of categories, including individuals and corporations. The methodology is precise and accurate, based on over 20
        million responses, and the data is updated weekly.
        <br><br>
        Popularity scores are calculated as percentages and the data is weighted to be nationally representative using
        key demographic variables like gender, race, age, and education.
        <br><br>
        For our analysis, we have used the following YouGov datasets to compile the following tables.
    </p>
    <h3>1. People (Q4 2022)</h3>
    <p>
        https://today.yougov.com/ratings/entertainment/popularity/people/all
    </p>
</div>

<div class="text-block">
    <h3>Metrics</h3>
    <p>
        Two key metrics are utilized by YouGov: 'FAME' and 'POPULARITY'.
        <br><br>
        'FAME' corresponds to the percentage of the population familiar with a specific individual, analogous to name
        recognition. 'POPULARITY', on the other hand, refers to the percentage of the population with a positive opinion
        of an individual, similar to favorability. These metrics provide insight into the public's awareness and
        perception of various individuals.
        <br><br>
        However, for our purpose, we will deviate from these metrics. Instead, we'll focus on the frequency of mentions
        each celebrity receives on the blog "Crazy Days and Nights". We will list the celebrities in descending order
        based on the frequency of their mentions, excluding those with zero mentions.
        <br><br>
        Next, we calculate the cumulative number of posts made by celebrities, ranked from the most mentioned to the
        least mentioned. We then break down this cumulative frequency by gender. Finally, to facilitate better
        understanding, we convert these frequencies into densities (a number out of 1.0, where 1.0 corresponds to the
        total number of mentions of of all celebrities on the blog).
    </p>
</div>