<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'meta.html' %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='yougov/yougov.css') }}">
        <title style="display:none;">Crazy Days and Nights YouGov</title>
        <author style="display:none;">OpenAI's GPT-4</author>
    </head>

    <body id="yougov">
        {% include 'navigation_bar/navbar.html' %}
        <div class="Main-Container">
            {% include 'yougov/text.html' %}

            <div style="position: relative; height:40vh; width:80%; margin: auto;">
                {% include 'yougov/gender-barchart.html' %}
            </div>

            {% include 'yougov/chart-disclaimer.html' %}
            {% include 'yougov/table-analysis.html'%}

            <button id="show-table-button">Show All Mentioned People</button>
            <div id="gender-table" style="display: none;">
                {% include 'yougov/gender-table.html' %}
            </div>
        </div>
        <script>
            document.getElementById('show-table-button').addEventListener('click', function() {
                var genderTable = document.getElementById('gender-table');
                if(genderTable.style.display === 'none') {
                    genderTable.style.display = 'block';
                } else {
                    genderTable.style.display = 'none';
                }
            });
        </script>
    </body>
</html>
